img{
    object-fit: cover;
}

.unit-card{
    height: 240px;
    background-color: #BB2633;
    overflow: hidden;
    padding: 0 !important;
}

.badges{
    position: absolute;
    bottom: 5px;
}

.badge{
    border: solid black 2px;
}

