{% extends "utils/base.html" %}
{% load humanize %}
{% load static %}
{% load l10n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'major_equipment/css/fuel/unit_fuel.css' %}">
{% endblock %}

{% block navbar %}
{% include 'utils/navbar.html' %}
    <section class="header-container">
        <a href="{% url 'major_equipment:unit_list' %}">
            <h2>Material Mayor</h2>
        </a>
    </section>
{% endblock %}

{% block content %}
<div id="unit-page">
    <div class="buttons-container">
        <a href="{% url 'major_equipment:unit_detail' unit.id %}">
            <i class="bi bi-truck-front"></i>
            <p>Unidad</p>
        </a>
        <a href="{% url 'major_equipment:unit_reports' unit.id %}">
            <i class="bi bi-journal"></i>
            <p>Reportes</p>
        </a>
        <a href="#" class="active">
            <i class="bi bi-fuel-pump-fill"></i>
            <p>Combustible</p>
        </a>
        <a href="{% url 'major_equipment:unit_maintenance' unit.id %}">
            <i class="bi bi-wrench-adjustable-circle-fill"></i>
            <p>Mantención</p>
        </a>
    </div>
    <div class="main-section">
        <div class="d-flex flex-row justify-content-around align-items-center p-2">
            <a href="{{prev_url}}"><i class="bi bi-caret-left-fill"></i></a>
            <div><p>{{month_year}}</p></div>
            <a href="{{next_url}}"><i class="bi bi-caret-right-fill"></i></a>
        </div>
        <div class="info-container">
            <div>
                <i class="bi bi-fuel-pump-fill"></i>
            </div>
            <div class="d-flex flex-column align-items-start">
                <p class="fs-1 text-start"><strong>Total: </strong>${{fuel_cost_total}}</p>
                <p class="fs-6 text-start"><strong>Cantidad: </strong>{{fuel_quantity_total}}L</p>
                
            </div>
            
        </div>
        <div class="fuel-logs-container">
            {% for log in fuel_logs %}
            <div class="fuel-log">
                
                <div class="title">
                    <h6 class="text-start fs-4">GUIA #{{log.guide_number}}</h6>
                    <p class="fs-6">{{log.date|date:"d/m/Y"}}</p>
                </div>
                <div class="body">
                    <div class="d-flex flex-column align-items-start">
                        <p class="fs-6">{{log.quantity}}L</p>
                        {% localize on %}
                            <p class="fs-1 fw-bold">${{ log.cost }}</p>
                        {% endlocalize %}
                    </div>
                    <div class="d-flex flex-row gap-2 justify-content-end">
                        <a href="{% url 'major_equipment:get_fuel_log' unit.id log.id %}" class="btn btn-outline-dark">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                        {% if log.ticket %}
                        <a href="{{ log.ticket_url }}" class="btn btn-outline-dark" target="_blank">
                            <i class="bi bi-cloud-arrow-down-fill fs-1"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'utils/modal.html' %}
{% include 'utils/toast-container.html'%}
{% endblock %}

{% block footer %}
<footer>

</footer>
{% endblock %}

{% block extra_js %}
<script src="{% static 'major_equipment/js/unit.js' %}"></script>
{% endblock %}