{% extends "utils/base.html" %}
{% load static permissions humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'major_equipment/css/maintenance/form/quote_form.css' %}">
{% endblock %}

{% block navbar %}
  {% include 'utils/navbar.html' %}
  <section class="header-container">
    <a href="{% url 'major_equipment:units' %}">
      <h2>Material Mayor</h2>
    </a>
    <div class="buttons-container">
      <a href="{% url 'major_equipment:unit' unit.id %}">
        <i class="bi bi-truck-front"></i>
      </a>
      <a href="{% url 'major_equipment:unit_reports'%} unit?unit={{unit.id}}" class="active">
        <i class="bi bi-journal"></i>
      </a>
      <a href="{% url 'major_equipment:unit_fuel' unit.id %}">
        <i class="bi bi-fuel-pump-fill"></i>
      </a>
      <a href="{% url 'major_equipment:unit_maintenance' unit.id %}">
        <i class="bi bi-wrench-adjustable-circle-fill"></i>
      </a>
    </div>
  </section>
{% endblock %}

{% block content %}
  <section class="title">
    <h1>Agregar cotización a solicitud #{{ maintenance_log.id }}</h1>
    <p>Unidad {{ unit.unit_number }} | {{ unit.entity }}</p>
  </section>

  <section class="body">
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      
      <!-- PDF Cotización -->
      <div class="mb-3">
        <label for="id_quote_pdf" class="form-label">Cotización en PDF</label>
        <input type="file" name="quote_pdf" id="id_quote_pdf" class="form-control" accept="application/pdf">
      </div>

      <!-- Costo -->
      <div class="mb-3">
        <label for="id_cost" class="form-label">Costo</label>
        <input type="number" name="cost" id="id_cost" class="form-control" placeholder="Ej.: 150000" step="0.01" min="0">
      </div>

      <!-- Fecha de Expiración -->
      <div class="mb-3">
        <label for="id_expiration_date" class="form-label">Fecha de expiración</label>
        <input type="date" name="expiration_date" id="id_expiration_date" class="form-control">
      </div>

      <!-- Comentario -->
      <div class="mb-3">
        <label for="id_comment" class="form-label">Comentario</label>
        <textarea name="comment" id="id_comment" class="form-control" rows="3"></textarea>
      </div>

      <!-- Taller -->
      <div class="mb-3">
        <label for="id_workshop" class="form-label">Taller</label>
        <input type="text" name="workshop" id="id_workshop" class="form-control" placeholder="Nombre del taller">
      </div>

      <!-- Botón de envío -->
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-success col-md-4">
          Enviar
        </button>
      </div>
    </form>
  </section>

  {% include 'utils/modal.html' %}
  {% include 'utils/toast-container.html' %}
{% endblock %}

{% block footer %}
  <footer></footer>
{% endblock %}
