{% extends "utils/base.html" %}
{% load humanize static permissions %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'major_equipment/css/unit/units.css' %}">
    <link rel="stylesheet" href="{% static 'major_equipment/css/utils/unit-card.css' %}">
{% endblock %}

{% block navbar %}
{% include 'utils/navbar.html' %}
<section class="header-container">
    <h2>Material Mayor</h2>
</section>
{% endblock %}

{% block content %}
    <section class="filters-container">
        <form method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscador" name="search-filter" value="{{ search_filter }}">
                <button class="input-group-text btn btn-dark"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </section>

    <section class="container py-3">
        <div class="row g-3">
            {% for element in units %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    {% include 'major_equipment/utils/unit-card.html' %}
                </div>
            {% empty %}
                <p class="text-center text-muted">No hay unidades disponibles.</p>
            {% endfor %}
        </div>
    </section>

    {% include 'utils/modal.html' %}
    {% include 'utils/toast-container.html' %}
{% endblock %}

{% block footer %}
<footer>

</footer>
{% endblock %}