{% extends "utils/base.html" %}
{% load humanize %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'major_equipment/css/unit/unit.css' %}">
{% endblock %}

<!-- Barra de navegación -->
{% block navbar %}
{% include 'utils/navbar.html' %}
<section class="bg-main d-flex flex-column flex-sm-row justify-content-between align-items-sm-center ">
    <div class="p-3">
        <a href="{% url 'major_equipment:units' %}" class="text-light text-decoration-none">
            <h2>Material Mayor</h2>
        </a>
    </div>

    <div id="unit-navbar" class="d-flex flex-row border-top border-light">
        <a href="#" class="text-decoration-none text-light w-25 active d-flex
        justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center p-1">
                <i class="bi bi-truck-front fs-1"></i>
                <p class="fs-7">Unidad</p>
            </div>
        </a>
        <a href="{% url 'major_equipment:unit_reports' %}?unit={{unit.id}}" class="text-decoration-none
        text-light w-25 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center p-1">
                <i class="bi bi-journal fs-1 "></i>
                <p class="fs-7">Reportes</p>
            </div>
        </a>
        <a href="{% url 'major_equipment:unit_fuel' unit.id %}" class="text-decoration-none 
        text-light w-25 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center p-1">
                <i class="bi bi-fuel-pump-fill fs-1"></i>
                <p class="fs-7">Combustible</p>
            </div>
        </a>
        <a href="{% url 'major_equipment:unit_maintenance' unit.id %}" class="text-decoration-none
        text-light w-25 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center p-1">
                <i class="bi bi-wrench-adjustable-circle-fill fs-1"></i>
                <p class="fs-7">Mantención</p>
            </div>
        </a>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="bg-main container p-0 my-sm-4 rounded overflow-hidden">
    <!-- Imagen e información -->
    <div class="d-flex flex-column gap-3 pb-3 flex-md-row pb-md-0 gap-md-0">
        <div id="unit-images-container" class="d-flex flex-column w-md-60">
            <div id="carousel" class="carousel slide border border-light h-75 h-lg-80">
                <div class="carousel-inner h-100">
                    {% for image in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{% url 'major_equipment:unit_image' image.id %}" class="d-block w-100 object-fit-cover" alt="{{ image.alt }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="bg-secondary text-light text-center p-3 border border-light h-25 d-flex flex-column 
            justify-content-center align-items-center h-lg-20">
                <h1>Unidad {{unit.description}}</h1>
                <p>{{unit.entity}}</p>
            </div>
        </div>

        <div
            class="d-flex flex-column gap-3 w-md-40 p-md-3 justify-content-md-between justify-content-lg-evenly ">
            <div class="w-90 mx-auto rounded bg-tertiary d-flex flex-row p-2 gap-2 w-sm-50 w-md-100">
                <div><i class="bi bi-truck-front fs-1"></i></div>
                <div>
                    <p>{{unit.unit_number}} | {{unit.description}}</p>
                    <h5>{{unit.plate_number}}</h5>
                </div>
            </div>
            <div class="w-90 mx-auto rounded bg-tertiary d-flex flex-row p-2 gap-2 w-sm-50 w-md-100">
                <div><i class="bi bi-fuel-pump-fill fs-1"></i></div>
                <div>
                    <p>Combustible</p>
                    <h5>{{unit.get_fuel_type_display}}</h5>
                </div>
            </div>
            <div class="w-90 mx-auto rounded bg-tertiary d-flex flex-row p-2 gap-2 w-sm-50 w-md-100">
                <div><i class="bi bi-check-circle fs-1"></i></div>
                <div>
                    <p>Estado</p>
                    <h5>{{unit.get_state_display}}</h5>
                </div>
            </div>
            <div class="w-90 mx-auto rounded bg-tertiary d-flex flex-row p-2 gap-2 w-sm-50 w-md-100">
                <div><i class="bi bi-calendar fs-1"></i></div>
                <div>
                    <p>Prox. Mantención</p>
                    <h5>Sin fecha</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Acordion -->
    <div id="accordion-container" class="p-3 overflow-y-scroll border border-light">
        <div class="accordion accordion-flush d-flex flex-column gap-2" id="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-4 text-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-controls="collapseOne">
                        Especificaciones técnicas
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>Marca:</p>
                                    <strong>{{unit.brand|default:"--"}}</strong>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>Modelo:</p>
                                    <strong>{{unit.model|default:"--"}}</strong>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>Año:</p>
                                    <strong>{{unit.year|default:"--"}}</strong>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>Tipo de vehiculo</p>
                                    <strong>{{unit.get_vehicle_type_display|default:"--"}}</strong>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>Tipo de combustible</p>
                                    <strong>{{unit.get_fuel_type_display|default:"--"}}</strong>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>Capacidad del estanque (L):</p>
                                    <strong>{{unit.fuel_tank_capacity|default:"--"}}</strong>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>N° de motor:</p>
                                    <strong>{{unit.engine_number|default:"--"}}</strong>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>N° de chasis:</p>
                                    <strong>{{unit.chassis_number|default:"--"}}</strong>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-4 text-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Neumáticos
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>Tamaño neumático</p>
                                    <strong>{{unit.tire_size|default:"--"}}</strong>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                                <div class="bg-tertiary p-2 rounded">
                                    <p>Presión neumático</p>
                                    <strong>{{unit.tire_pressure|default:"--"}}</strong>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Documentos -->
    <div class="p-4 border border-light">
        <div>
            <h5 class="fs-2 text-light">Documentos</h5>
        </div>
        <div class="row">

            {# PADRÓN #}
            <div class="d-flex flex-row align-items-center p-2 my-2 gap-3 col-12 col-sm-6">
                <div class="d-flex align-items-center justify-content-center rounded"
                    style="width: 60px; height: 60px; background-color: black;">
                    <i class="bi bi-filetype-pdf text-light fs-1"></i>
                </div>
                <div class="flex-fill d-flex flex-column">
                    <h6 class="m-0 fs-4 text-light">Padrón</h6>
                    {% if unit.padron %}
                    <a href="{% url 'docs:protected_file' unit.padron.id %}" target="_blank"
                        class="text-light text-decoration-none m-0">Descargar</a>
                    {% else %}
                    <p class="text-light">No disponible</p>
                    {% endif %}
                </div>
            </div>

            {# PERMISO DE CIRCULACIÓN #}
            <div class="d-flex flex-row align-items-center p-2 my-2 gap-3 col-12 col-sm-6">
                <div class="d-flex align-items-center justify-content-center rounded"
                    style="width: 60px; height: 60px; background-color: black;">
                    <i class="bi bi-filetype-pdf text-light fs-1"></i>
                </div>
                <div class="flex-fill d-flex flex-column">
                    <h6 class="m-0 fs-4 text-light">Permiso Circulación</h6>
                    {% if unit.vehicle_permit %}
                    <a href="{% url 'docs:protected_file' unit.vehicle_permit.id %}" target="_blank"
                        class="text-light text-decoration-none m-0">Descargar</a>
                    {% if unit.vehicle_permit.is_expired %}
                    <p class="text-light"><span class="badge bg-danger">Vencido</span> en
                        {{unit.vehicle_permit.expiration_date|date:"d/m/Y"}}</p>
                    {% elif unit.vehicle_permit.days_until_expiration <= 30 %} <p class="text-light"><span
                            class="badge bg-warning text-dark">Por vencer!</span>
                        Vence {{unit.vehicle_permit.expiration_date|date:"d/m/Y"}}
                        ({{unit.vehicle_permit.days_until_expiration}} días)</p>
                        {% else %}
                        <p class="text-light"><span class="badge bg-success">Vigente</span> hasta
                            {{unit.vehicle_permit.expiration_date|date:"d/m/Y"}}</p>
                        {% endif %}
                        {% else %}
                        <p class="text-light">No disponible</p>
                        {% endif %}
                </div>
            </div>

            {# REVISION TECNICA #}
            <div class="d-flex flex-row align-items-center p-2 my-2 gap-3 col-12 col-sm-6">
                <div class="d-flex align-items-center justify-content-center rounded"
                    style="width: 60px; height: 60px; background-color: black;">
                    <i class="bi bi-filetype-pdf text-light fs-1"></i>
                </div>
                <div class="flex-fill d-flex flex-column">
                    <h6 class="m-0 fs-4 text-light">Revisión técnica</h6>
                    {% if unit.technical_inspection %}
                    <a href="{% url 'docs:protected_file' unit.technical_inspection.id %}" target="_blank"
                        class="text-light text-decoration-none m-0">Descargar</a>
                    {% if unit.technical_inspection.is_expired %}
                    <p class="text-light"><span class="badge bg-danger">Vencido</span> en
                        {{unit.technical_inspection.expiration_date|date:"d/m/Y"}}</p>
                    {% elif unit.technical_inspection.days_until_expiration <= 30 %} <p class="text-light"><span
                            class="badge bg-warning text-dark">Por vencer!</span>
                        Vence {{unit.technical_inspection.expiration_date|date:"d/m/Y"}}
                        ({{unit.technical_inspection.days_until_expiration}} días)</p>
                        {% else %}
                        <p class="text-light"><span class="badge bg-success">Vigente</span> hasta
                            {{unit.technical_inspection.expiration_date|date:"d/m/Y"}}</p>
                        {% endif %}
                        {% else %}
                        <p class="text-light">No disponible</p>
                        {% endif %}
                </div>
            </div>

            {# SOAP #}
            <div class="d-flex flex-row align-items-center p-2 my-2 gap-3 col-12 col-sm-6">
                <div class="d-flex align-items-center justify-content-center rounded"
                    style="width: 60px; height: 60px; background-color: black;">
                    <i class="bi bi-filetype-pdf text-light fs-1"></i>
                </div>
                <div class="flex-fill d-flex flex-column">
                    <h6 class="m-0 fs-4 text-light">SOAP</h6>
                    {% if unit.soap %}
                    <a href="{% url 'docs:protected_file' unit.soap.id %}" target="_blank"
                        class="text-light text-decoration-none m-0">Descargar</a>
                    {% if unit.soap.is_expired %}
                    <p class="text-light"><span class="badge bg-danger">Vencido</span> en
                        {{unit.soap.expiration_date|date:"d/m/Y"}}</p>
                    {% elif unit.soap.days_until_expiration <= 30 %} <p class="text-light"><span
                            class="badge bg-warning text-dark">Por vencer!</span>
                        Vence {{unit.soap.expiration_date|date:"d/m/Y"}} ({{unit.soap.days_until_expiration}} días )
                        </p>
                        {% else %}
                        <p class="text-light"><span class="badge bg-success">Vigente</span> hasta
                            {{unit.soap.expiration_date|date:"d/m/Y"}}</p>
                        {% endif %}
                        {% else %}
                        <p class="text-light">No disponible</p>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block footer %}
<footer>

</footer>
{% endblock %}

{% block extra_js %}
<script src="{% static 'major_equipment/js/unit.js' %}"></script>
{% endblock %}