/* ----- Encabezado ----- */
.header-container {
    background-color: #BB2633;
    padding: 10px 20px;
}

.header-container a {
    color: white;
    text-decoration: none;;
}

#unit-page{
    background-color: #BB2633;
    width: 90vw;
    margin: 20px auto 20px;
    border-radius: 8px;
    overflow: hidden;
}

.buttons-container{
    display: flex;
    flex-flow: row nowrap;
}

.buttons-container a {
    background-color: #BB2633;
    flex: 1;
    border: #C0C0C0 solid 1px;
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    text-decoration: none;
}

.buttons-container a.active{
    background-color: #F5DFE1;
    color: white;
}

.buttons-container a i{
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.buttons-container a.active i{
    color: #BB2633;
}

.buttons-container a p{
    color: white;
    font-size: clamp(0.7rem, 3vw, 1.2rem);
    text-align: center;
    font-weight: bolder;
}

.buttons-container a.active p{
    color: #BB2633;
    text-decoration: none;
}

.main-section{
  margin: 10px 0;
}

.main-section div div{
  width: 65%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.main-section div div p{
  font-size: x-large;
}

.main-section div a{
  background-color: white;
  aspect-ratio: 1/1;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
}

.main-section div a i{
  font-size: x-large;
}

.main-section .info-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.main-section .info-container i{
  color: white;
  font-size: 2.3rem;
}



.main-section .info-container div{
  background-color: transparent;
  width: max-content;
}

.main-section .info-container div p{
  color: white;

}

.main-section .fuel-logs-container{
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 10px 0;
}

.main-section .fuel-logs-container .fuel-log{
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 100%;
  border-radius: 0;
  gap: 5px;
}

.main-section .fuel-logs-container .fuel-log .title{
  background-color: #BB2633;
  width: 100%;
  color: white;
  border-radius: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 5px 10px 5px;
  border-top: white solid 2px;
  align-items: center;

}


.main-section .fuel-logs-container .fuel-log .body{
  border-radius: 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 0 10px 5px;
}
