/* =========================
   Página: Material Mayor
   ========================= */

body{
    background-color: #e5e7eb;
}

.max-w-1000{
    max-width: 1000px;
}

.max-w-600{
    max-width: 600px;
}

/* ----- Encabezado ----- */
.header-container {
    background-color: #BB2633;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-container a {
    color: white;
    text-decoration: none;
}

.header-container .buttons-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.header-container .buttons-container a{
  color: white;
  text-decoration: none;
  font-size: x-large;
}

/* Botonera */

#buttons-container{
    background-color: #243346;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-flow: row;
    justify-content: end;
    padding-right: 40px;
}
