.bg-main {
    background-color: #BB2633;
}

.bg-secondary{
    background-color: #243346 !important;
}

.bg-tertiary{
    background-color: #F5DFE1 !important;
}

.fs-7{
    font-size: clamp(0.7rem, 3vw, 1rem);
    font-weight: bolder;
}

.w-90{
    width: 90%;
}

a.active {
    background-color: #F5DFE1;
    color: white;
}

a.active i {
    color: #BB2633;
}

a.active p {
    color: #BB2633;
    text-decoration: none;
}

#accordion-container{
    height: 230px;  
}

.accordion{
    height: 100%;
    overflow-y: scroll;
}

.accordion .accordion-item {
    background-color: transparent;
    border: none;
}

.accordion-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: white;
    border: none;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.accordion-body {
    background-color: transparent;
    border-top: none;
}

.accordion-button::after {
    display: none !important;
}



@media (min-width: 576px) {
    #unit-navbar{
        width: 60%;
        max-width: 450px;
    }
    .fs-7{
        font-size: clamp(0.8rem, 2vw, 1rem);
    }
    }

@media (min-width: 768px) {
    .w-md-60{
        width: 60% !important;
    }
    .w-md-40{
        width: 40% !important;
    }
    #unit-images-container{
        max-height: 400px;
    }

}

@media (min-width: 992px) {
    #unit-images-container{
        max-height: 500px;
    }
    .h-lg-20{
        height: 20% !important;
    }
    .h-lg-80{
        height: 80% !important;
    }
}



#unit-page{
    background-color: #BB2633;
    width: 90vw;
    margin: 20px auto 20px;
    border-radius: 8px;
    overflow: hidden;
}


.calendar-section{
  margin: 10px 0;
}

.calendar-section div div{
  width: 65%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.calendar-section div div p{
  font-size: x-large;
}

.calendar-section div a{
  background-color: white;
  aspect-ratio: 1/1;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
}

.calendar-section div a i{
  font-size: x-large;
}

.calendar-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding: 10px;
  border-radius: 10px;
}

.calendar-container .day-label{
  aspect-ratio: 1/1;
  width: 30px;
  font-weight: bold;
  font-size: large;
  margin: 0 0 10px 0;
}

.calendar-container .empty-day{
  background-color: #BB2633;
  border: none;
}

.calendar-container .day{
  aspect-ratio: 1/1;
  width: 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: black;
}

.calendar-container .day-link{
  width: 30px;
  height: 30px;
  color: transparent;
}

.calendar-container .day.today{
  border: black solid 2px;
}

.calendar-container .day.missing{
  background-color: #910000;
  color: white;
}

.calendar-container .day.done{
  background-color: #128807;
  color: white;
}