{% extends "utils/base.html" %}
{% load humanize %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'major_equipment/css/maintenance/unit_maintenance.css' %}">
{% endblock %}

{% block navbar %}
{% include 'utils/navbar.html' %}
<section class="header-container">
    <a href="{% url 'major_equipment:units' %}">
        <h2>Material Mayor</h2>
    </a>
</section>
{% endblock %}

{% block content %}
<div id="unit-page">
    <div class="buttons-container">
        <a href="{% url 'major_equipment:unit' unit.id %}">
            <i class="bi bi-truck-front"></i>
            <p>Unidad</p>
        </a>
        <a href="{% url 'major_equipment:unit_reports' unit.id %}">
            <i class="bi bi-journal"></i>
            <p>Reportes</p>
        </a>
        <a href="{% url 'major_equipment:unit_fuel' unit.id %}" >
            <i class="bi bi-fuel-pump-fill"></i>
            <p>Combustible</p>
        </a>
        <a href="#" class="active">
            <i class="bi bi-wrench-adjustable-circle-fill"></i>
            <p>Mantención</p>
        </a>
    </div>
    <div>
        <div class="m-3">
            <form method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscador" name="search-filter" value="{{ search_filter }}">
                    <button class="input-group-text btn btn-dark"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
        <div class="m-3 d-flex flex-row justify-content-end">
            <a href="{% url 'major_equipment:create_maintenance_request' unit.id %}" class="btn btn-dark">Nueva solicitud</a>
        </div>
        <div>
            {% for log in maintenance_logs %}
            <div>
                <div class="bg-light p-2 d-flex flex-row justify-content-between align-items-center">
                    <h5>Solicitud #{{log.id}}</h5>
                    <p>{{log.creation_date|date:"d/m/Y"}}</p>
                </div>
                <div class="p-1 px-2">
                    <div class="d-flex flex-row align-items-center px-1 justify-content-between">
                        <p class="fs-5 text-white">{{log.state}}</p>
                        <a href="{% url 'major_equipment:get_maintenance_log' unit.id log.id %}" class="btn btn-outline-light"><i class="bi bi-eye-fill"></i></a>
                    </div>

                </div>
                
                
                
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
{% include 'utils/modal.html' %}
{% include 'utils/toast-container.html'%}
{% endblock %}

{% block footer %}
<footer>

</footer>
{% endblock %}

{% block extra_js %}
<script src="{% static 'major_equipment/js/unit.js' %}"></script>
{% endblock %}