{% extends "utils/base.html" %}
{% load humanize %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'major_equipment/css/utils/no-access.css' %}"-->
{% endblock %}

{% block navbar %}
{% include 'utils/navbar.html' %}
{% endblock %}


{% block content %}
<section class="no-access">
    <h4>Ups... Parace que no tienes acceso a esta sección.</h4>
    <p>Si crees que esto es un error, por favor contacta al administrador del sistema.</p>
</section>

{% include 'utils/modal.html' %}
{% include 'utils/toast-container.html'%}
{% endblock %}

{% block footer %}
<footer>

</footer>
{% endblock %}

{% block extra_js %}
    <!--script src="{% static 'major_equipment/js/unit.js' %}"></script-->
{% endblock %}