/* =========================
   Página: Material Mayor
   ========================= */

/* ----- Encabezado ----- */
.header-container {
    background-color: #BB2633;
    color: white;
    padding: 10px 20px;
}

/* ----- Filtros de búsqueda ----- */
.filters-container {
    margin: 20px 3vw 0;
}

